.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000004f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-remove {
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 8px;
}

.modal-remove > h3 {
  margin-bottom: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.cancel {
  width: 100px;
  color: #ff0000;
  border-radius: 8px;
}

.confirm {
  width: 100px;
  color: green;
  border-radius: 8px;
}
