.card-conteiner {
  width: 20rem;
  height: 200px;
  padding: 8px;
  margin: 30px;
  border-radius: 20px;
  display: flex;
  background-color: #44cf6c;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.card-header {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-around;
}

.card-header > p {
  margin: 15px;
  font-size: smaller;
}

.card-conteiner > div > img {
  width: 65px;
}

.card-conteiner > h3 {
  height: 30px;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-conteiner > p {
  font-size: small;
  height: 35px;
  margin-bottom: 5px;
}

.card-conteiner > button {
  border-radius: 30px;
  cursor: pointer;
}

.card-body {
  height: 3rem;
  width: 0.3rem;
  display: flex;
}

.icons {
  height: 2rem;
  cursor: pointer;
  margin-right: 7px;
}
