.home-conteiner {
  background-color: #f2f2f2;
  height: 90vh;
  width: 100%;
  max-width: 1214px; /* defina a largura máxima desejada */
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap; /* permite a quebra de linha */
  justify-content: center; /* centraliza os cards na tela */
  padding: 3rem;
}

.home-conteiner > h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 3000;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.home-conteiner > input {
  margin-bottom: 2rem;
  height: 2rem;
  width: 15rem;
  border-radius: 10px;
}
